@use '../../base.style';

.shopping-list__list{
    margin: auto;
    width: 95vw;
    padding: 1rem;

    h3{
        color: rgb(35, 179, 227);
    }

    .list{
        margin: 3rem auto; 
        width: max-content;
        padding: 2rem;        
        display: flex;
        flex-direction: column;
    }

    h5{
        border-bottom: 1px solid gray;
        min-width: max-content;
    }

    .list-of-products{
        display: flex;
        flex-wrap: wrap;
        li{
            list-style: none;
            min-width: min-content;
        } 
        
        @include base.mobileScreen{
            flex-direction: row;
            
        }
    }
}