.shopping-list__page{

    .count_product{
        width: 100%;
        text-align: left;
        padding-left: 3rem;
        padding-top: 1rem;
        color: blue;
        font-size: 1.3rem;
    }

    .separator{
        width: 98vw;
        height: 2px;
        background-color: gray;
        margin: 1rem auto;
    }
}